.currency-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.currency-select-box {
  width: 100%;
  padding: 10px;
  border-radius: var(--ifm-global-radius);
  border: 1px solid var(--ifm-color-primary-darkest);
  background-color: var(--ifm-color-primary);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.currency-select {
  color: var(--ifm-color-primary-darkest)
}

.settingsButton {
  background: var(--ifm-color-primary);
  border-radius: var(--ifm-global-radius);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-self: flex-end;
}
