.currency-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.currency-select-box {
  width: 100%;
  padding: 10px;
  border-radius: var(--ifm-global-radius);
  border: 1px solid var(--ifm-color-primary-darkest);
  background-color: var(--ifm-color-primary);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.currency-select {
  color: var(--ifm-color-primary-darkest)
}

.settingsButton {
  background: var(--ifm-color-primary);
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  align-self: flex-end;
  border-radius: var(--ifm-global-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}


.settingsButton:hover {
  transform: scale(1.01) translateY(-2px);
  opacity: 0.9;
  box-shadow: var(--button-hover-box-shadow); 
}
