.googleAuthPageContainer {
    align-self: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    gap: 10px;  

}

@media (max-width: 768px) {
    .googleAuthPageContainer {
        width: 90%;
    }
}